
.form-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    padding-top: 0;
    width: 40%;
    height: 80%;
    border-radius: 10px;
    background: #fff;
    box-shadow:  -6px 6px 50px #fff, 
                6px -6px 100px #413f3f;

    h1 {
      margin: 0;
    }

    input {
      margin: 10px;
      border-radius: 0px;
      background: #fff;
      box-shadow:  -6px 6px 50px #fff, 
                  6px -6px 100px #b1b1b1;
      border: none;
      width: 60%;
      height: 2.5rem;
      border-radius: 5px;
    }
  }
}