



@media only screen and (min-width: 1224px) {
  /* Styles */
  .home-page-container {

    .description {
      width: 63%;
      padding: 0;
      background: url('../../assets/background.svg');

      h1 {
        margin-top: 25%;
        margin-bottom: 0;
        font-size: 5rem;
        color: #104B32;
        // color: #fff;
      }
      p {
          margin: 0;
          font-family: 'Quicksand', sans-serif;
          margin-bottom: 10px;
          font-size: 1.5rem;
          // color: #fff;

        }
      
      button {
        margin-bottom: 10px;
        background: #104B32;
        color: #ffff;
        border: 0.8px solid #ffff;
        height: 3rem;
        width: 10rem;
        font-family: 'Quicksand', sans-serif;
        font-size: 1rem;
        cursor: pointer;

        &:hover {
          background: #FFFF;
        border: 0.8px solid #104B32;
          color: #104B32;
        }
      }
    }

  .home-page-img {
   position: fixed;
   left: 62%;
   top: 0;
   -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }
}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
  .home-page-container {

      .description {
        margin-top: 50%;
        background: white;

        h1 {
          font-size: 6rem;
          color: #104B32;
          margin: 0;
        }
        p {
          margin: 0;
          font-family: 'Quicksand', sans-serif;
          margin-bottom: 10px;
          font-size: 2rem;
        }

        button {
          margin-bottom: 10px;
          background: #104B32;
          color: #ffff;
          border: 0.8px solid #ffff;
          height: 5rem;
          width: 12rem;
          font-family: 'Quicksand', sans-serif;
          font-size: 2rem;
        }
      }

      .home-page-img {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        z-index: -1;
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
      }
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  /* Styles */
    .home-page-container {

      .description {
        margin-top: 60%;
        background: white;

        h1 {
          font-size: 4rem;
          color: #104B32;
          margin: 0;
        }
        p {
          margin: 0;
          font-family: 'Quicksand', sans-serif;
          margin-bottom: 10px;
        }

        button {
          margin-bottom: 10px;
          background: #104B32;
          color: #ffff;
          border: 0.8px solid #ffff;
          height: 3rem;
          width: 9rem;
          font-family: 'Quicksand', sans-serif;
        }
      }

      .home-page-img {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        z-index: -1;
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
      }
  }
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
    .home-page-container {

      .description {
        margin-top: 70%;
        background: white;

        h1 {
          font-size: 5rem;
          color: #104B32;
          margin: 0;
        }
        p {
          margin: 0;
          font-family: 'Quicksand', sans-serif;
          margin-bottom: 10px;
        }

        button {
          margin-bottom: 10px;
          background: #104B32;
          color: #ffff;
          border: 0.8px solid #ffff;
          height: 3rem;
          width: 9rem;
          font-family: 'Quicksand', sans-serif;
        }
      }

      .home-page-img {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        z-index: -1;
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
      }
    }
}

@media only screen and (max-device-width: 280px) and (max-device-height: 653px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  .home-page-container {

      .description {
        margin-top: 80%;
        background: white;

        h1 {
          font-size: 4rem;
          color: #104B32;
          margin: 0;
        }
        p {
          margin: 0;
          font-family: 'Quicksand', sans-serif;
          margin-bottom: 10px;
        }

        button {
          margin-bottom: 10px;
          background: #104B32;
          color: #ffff;
          border: 0.8px solid #ffff;
          height: 3rem;
          width: 9rem;
          font-family: 'Quicksand', sans-serif;
        }
      }

      .home-page-img {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        z-index: -1;
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
      }
    }
}