


.dashboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('../../assets/download.svg');
  height: 100vh;

  nav {
    background: #575988;
    color: #ffff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;

    ul {
      display: flex;
      justify-content: space-around;
      width: 50%;

      li {
        margin: 0;
        margin-right: 10px;
        list-style: none;
        cursor: pointer;
        font-family: 'Quicksand', sans-serif;
        font-size: 1rem;

        &:hover {
          color: yellow;
        }
      }
    }

    .mobile {
      border: 1px solid white;
      height: 3rem;
      width: 5rem;
      margin: 5px;
      display: flex;
      flex-direction: column;
      align-items: space-around;
      justify-content: center;
      display: none;

      .line {
        border: 1px solid white;
        margin: 5px;
      }
    }
    
    p {
      font-family: 'Quicksand', sans-serif;
      margin: 0;
      margin-left: 10px;
      margin-top: 5px;
      font-size: 1rem;
      cursor: pointer;
      background: white;
      color: #575988;
      height: 2rem;
      width: 5rem;
      border-radius: 5px;
      padding-top: 7px;
    }
  }

  .user {
    background: #fff;
    width: 50%;
    height: 10rem;
    border-radius: 10px;
    background: #fff;
    border-radius: 10px;
    background: #ffffff;
    box-shadow:  8px 8px 16px #d9d9d9, 
                -8px -8px 16px #ffffff;

    h1 {
      font-family: 'Quicksand', sans-serif;
      font-size: 2rem;
    }

    button {
      width: 79%;
      height: 2rem;
      border: 0.7px solid #7f7f7f;
      font-family: 'Quicksand', sans-serif;
      font-size: 1rem;
      cursor: pointer;

        &:hover {
        background: #fff;
        color: #7f7f7f;
        border: 0.7px solid #104B32;
      }
    }
  }


  .resource {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;


    .wallet, .loan, .pool {
      border-radius: 10px;
      width: 80%;
      margin: 10px;
      color: black;
      font-size: 1rem;
      border-radius: 10px;
      background: #ffffff;
      box-shadow:  8px 8px 16px #d9d9d9, 
                  -8px -8px 16px #ffffff;
      cursor: pointer;
      background: #575988;
      width: 20rem;


  
      
  
      img {
        height: 5rem;
      }
      
      p {
        background: #ffff;
        box-shadow: 0 8px 6px -6px black;
        height: 2rem;
        padding-top: 1rem;
        padding-bottom: 0;
        margin-bottom: 0;
        font-family: 'Quicksand', sans-serif;
      }
      
      strong {
        background: #ffff;
        box-shadow: 0 8px 6px -6px black;
        font-family: 'Quicksand', sans-serif;
        font-weight: 500;
      }
    }

  }


  .image {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.44;
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  .dashboard-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    nav {
      background: #575988;
      color: #ffff;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      display: flex;
      justify-content: space-between;

      ul {
        display: flex;
        justify-content: space-around;
        width: 50%;

        li {
          margin: 0;
          margin-right: 10px;
          list-style: none;
          cursor: pointer;
          font-family: 'Quicksand', sans-serif;
          font-size: 1rem;
        }
      }

      .mobile {
        border: 1px solid white;
        height: 3rem;
        width: 5rem;
        margin: 5px;
        display: flex;
        flex-direction: column;
        align-items: space-around;
        justify-content: center;
        display: none;

        .line {
          border: 1px solid white;
          margin: 5px;
        }
      }
      
      p {
        font-family: 'Quicksand', sans-serif;
        margin: 0;
        margin-left: 10px;
        margin-top: 5px;
        font-size: 1rem;
        cursor: pointer;
        background: white;
        color: #575988;
        height: 2rem;
        width: 5rem;
        border-radius: 5px;
        padding-top: 7px;
      }
    }

    .user {
      background: #fff;
      margin-top: 1rem;
      width: 50%;
      padding-bottom: 2rem;
      border-radius: 10px;
      background: #ffffff;
      box-shadow:  8px 8px 16px #d9d9d9, 
                  -8px -8px 16px #ffffff;

      h1 {
        font-family: 'Quicksand', sans-serif;
        font-size: 2rem;
      }

      button {
        width: 79%;
        height: 2rem;
        border: 0.7px solid #7f7f7f;
        font-family: 'Quicksand', sans-serif;
        font-size: 1rem;
        cursor: pointer;

          &:hover {
          background: #fff;
          color: #7f7f7f;
          border: 0.7px solid #104B32;
        }
      }
    }


    .resource {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;


      .wallet, .loan, .pool {
        border-radius: 10px;
        width: 80%;
        margin: 10px;
        color: black;
        font-size: 1rem;
        border-radius: 10px;
        background: #ffffff;
        box-shadow:  8px 8px 16px #d9d9d9, 
                    -8px -8px 16px #ffffff;
        cursor: pointer;
        background: #575988;
        width: 20rem;


    
        
    
        img {
          height: 5rem;
        }
        
        p {
          background: #ffff;
          box-shadow: 0 8px 6px -6px black;
          height: 2rem;
          padding-top: 1rem;
          padding-bottom: 0;
          margin-bottom: 0;
          font-family: 'Quicksand', sans-serif;
        }
        
        strong {
          background: #ffff;
          box-shadow: 0 8px 6px -6px black;
          font-family: 'Quicksand', sans-serif;
          font-weight: 500;
        }
      }

    }


    .image {
      position: fixed;
      // top: 0;
      left: 0;
      bottom: 0;
      z-index: -1;
      opacity: 0.44;
      display: none;
    }
  }
}


@media only screen and (max-width: 770px) {
   .dashboard-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    nav {
      background: #575988;
      color: #ffff;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      display: flex;
      justify-content: space-between;
      -webkit-box-shadow: 10px 5px 5px 0px rgba(0,0,0,0.4);
      -moz-box-shadow: 10px 5px 5px 0px rgba(0,0,0,0.4);
      box-shadow: 10px 5px 5px 0px rgba(0,0,0,0.4);

      ul {
        display: flex;
        justify-content: space-around;
        width: 50%;
        display: none;

        li {
          margin: 0;
          margin-right: 10px;
          list-style: none;
          cursor: pointer;
          font-family: 'Quicksand', sans-serif;
          font-size: 1rem;
        }
      }

      .mobile {
        border: none;
        height: 3rem;
        width: 3rem;
        margin: 5px;
        display: flex;
        flex-direction: column;
        align-items: space-around;
        justify-content: center;

        .line {
          border: 0.7px solid white;
          margin: 5px;
        }
      }
      
      p {
        font-family: 'Quicksand', sans-serif;
        margin: 0;
        margin-right: 10px;
        margin-top: 5px;
        font-size: 1rem;
        cursor: pointer;
        background: white;
        color: #575988;
        height: 2rem;
        width: 5rem;
        border-radius: 5px;
      }
    }

    .user {
      background: #fff;
      margin-top: 10rem;
      width: 50%;
      padding-bottom: 2rem;
      border-radius: 10px;
      background: #ffffff;
      box-shadow:  8px 8px 16px #d9d9d9, 
                  -8px -8px 16px #ffffff;

      h1 {
        font-family: 'Quicksand', sans-serif;
        font-size: 2rem;
      }

      button {
        width: 79%;
        height: 2rem;
        border: 0.7px solid #7f7f7f;
        font-family: 'Quicksand', sans-serif;
        font-size: 1rem;
        cursor: pointer;

          &:hover {
          background: #fff;
          color: #7f7f7f;
          border: 0.7px solid #104B32;
        }
      }
    }


    .resource {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;


      .wallet, .loan, .pool {
        border-radius: 10px;
        width: 80%;
        margin: 10px;
        color: black;
        font-size: 1rem;
        border-radius: 10px;
        background: #ffffff;
        box-shadow:  8px 8px 16px #d9d9d9, 
                    -8px -8px 16px #ffffff;
        cursor: pointer;
        background: #575988;
        width: 20rem;


    
        
    
        img {
          height: 5rem;
        }
        
        p {
          background: #ffff;
          box-shadow: 0 8px 6px -6px black;
          height: 2rem;
          padding-top: 1rem;
          padding-bottom: 0;
          margin-bottom: 0;
          font-family: 'Quicksand', sans-serif;
        }
        
        strong {
          background: #ffff;
          box-shadow: 0 8px 6px -6px black;
          font-family: 'Quicksand', sans-serif;
          font-weight: 500;
        }
      }

    }


    .image {
      position: fixed;
      left: 0;
      bottom: 0;
      z-index: -1;
      opacity: 0.44;
      display: none;
    }
  }
}

@media only screen and (max-width: 768px) {
  .dashboard-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    nav {
      background: #575988;
      color: #ffff;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      display: flex;
      justify-content: space-between;
      -webkit-box-shadow: 10px 5px 5px 0px rgba(0,0,0,0.4);
      -moz-box-shadow: 10px 5px 5px 0px rgba(0,0,0,0.4);
      box-shadow: 10px 5px 5px 0px rgba(0,0,0,0.4);

      ul {
        display: none;
      }

      .mobile {
        border: none;
        height: 0.5rem;
        width: 2rem;
        padding-top: 9px;
        display: flex;
        flex-direction: column;
        align-items: space-around;
        justify-content: center;

        .line {
          border: 0.7px solid white;
          margin: 2px;
        }
      }
      
      p {
        font-family: 'Quicksand', sans-serif;
        margin: 0;
        margin-right: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 1rem;
        cursor: pointer;
        background: white;
        color: #575988;
        height: 0.7rem;
        width: 5rem;
        border-radius: 5px;
        padding-bottom: 14px;
      }
    }

    .user {
      background: #fff;
      margin-top: 20rem;
      width: 90%;
      padding-bottom: 2rem;
      border-radius: 10px;
      background: #ffffff;
      box-shadow:  8px 8px 16px #d9d9d9, 
                  -8px -8px 16px #ffffff;

      h1 {
        font-family: 'Quicksand', sans-serif;
        font-size: 1rem;
      }

      button {
        width: 79%;
        height: 2rem;
        border: 0.7px solid #7f7f7f;
        font-family: 'Quicksand', sans-serif;
        font-size: 1rem;
        cursor: pointer;

          &:hover {
          background: #fff;
          color: #7f7f7f;
          border: 0.7px solid #104B32;
        }
      }
    }


    .resource {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;


      .wallet, .loan, .pool {
        border-radius: 10px;
        width: 80%;
        margin: 10px;
        color: black;
        font-size: 1rem;
        border-radius: 10px;
        background: #ffffff;
        box-shadow:  8px 8px 16px #d9d9d9, 
                    -8px -8px 16px #ffffff;
        cursor: pointer;
        background: #575988;
        width: 20rem;


    
        
    
        img {
          height: 5rem;
        }
        
        p {
          background: #ffff;
          box-shadow: 0 8px 6px -6px black;
          height: 2rem;
          padding-top: 1rem;
          padding-bottom: 0;
          margin-bottom: 0;
          font-family: 'Quicksand', sans-serif;
        }
        
        strong {
          background: #ffff;
          // box-shadow: 0 8px 6px -6px rgb(250, 250, 250);
          font-family: 'Quicksand', sans-serif;
          font-weight: 500;
        }
      }

    }


    .image {
      position: fixed;
      left: 0;
      bottom: 0;
      z-index: -1;
      opacity: 0.44;
      display: none;
    }
  }
}

