.App {
  text-align: center;
}



.fa-facebook-square {
  margin-right: 10px;
  color: blue;
}

.fa-google {
  margin-right: 10px;
  color: red;
}

.link {
  text-decoration: none;
  color: white;
}


